@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #edf2f8;
  font-family: 'Barlow Semi Condensed', sans-serif;
  line-height: 1.7;
  font-size: 13px;
}

.testimonials{
  max-width: 1440px;
  margin: 100px auto;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-bottom: 10px;
}

.card__header{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card__header h3{
  font-size: 15px;
}

.card__header p{
  opacity: 50%;
}

.card__img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid hsl(263, 55%, 52%);
  margin-right: 10px;
}

.card__lead{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 20px;
}

.card__quote{
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 20px;
  opacity: 70%;
}

.card--bg-purple{
  background-color: hsl(263, 55%, 52%);
  color: #fff;
  background-image: url("/images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top 10px right 100px;
}

.card--bg-gray-blue{
  background-color: hsl(217, 19%, 35%);
  color: #fff;
}

.card--bg-black-blue{
  background-color: hsl(219, 29%, 14%);
  color: #fff;
}



.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
